%h1= "#{@projects.count} projects #{(params[:user] ? "by " + params[:user] : '')}"

%ul
  - @projects.each do |project|
    %li
      %a{:href => "/#{project.user}/#{project.name}"}= "#{project.user}/#{project.name}"
