.wrap
  %h1 Adding your work
  %h2= "Hi #{@user.login}, here's a list of every Github project you started."
  %p If you have a project you don't want to have listed, just skip it. Also, you can always come back later and edit your project's states.

  %form{:action => "/users/#{@user.id}", :method => 'post'}

    - @projects_by_owner[@user.login].each do |project|
      = partial 'users/_project', locals: {project: project}
    - @user.organizations.each do |organization|
      - if @projects_by_owner.has_key? organization
        %h2
          Organization
          %b= organization
        - @projects_by_owner[organization].each do |project|
          = partial 'users/_project', locals: {project: project}

    %input{:type => 'submit', :value => 'Submit', :class => 'small button'}
