.wrap
  %h1 Adding your work
  %h2= "Hi #{@user.login}, here's a list of every Github project you started."
  %p If you have a project you don't want to have listed, just skip it. Also, you can always come back later and edit your project's states.

  %form{:action => "/users/#{@user.id}", :method => 'post'}

    %section
      %h1 Owned by you

      - @non_forked_projects_by_owner[@user.login].each do |project|
        = partial 'users/_project', locals: {project: project}

    - @user.organizations.each do |organization|
      - if @non_forked_projects_by_owner.has_key? organization
        %section
          %h1
            Owned by
            %b= organization
          - @non_forked_projects_by_owner[organization].each do |project|
            = partial 'users/_project', locals: {project: project}

    %section
      %h1 Fork by you

      - @forked_projects_by_owner[@user.login].each do |project|
        = partial 'users/_project', locals: {project: project}

    - @user.organizations.each do |organization|
      - if @forked_projects_by_owner.has_key? organization
        %section
          %h1
            Forked by
            %b= organization
          - @forked_projects_by_owner[organization].each do |project|
            = partial 'users/_project', locals: {project: project}

    %input{:type => 'submit', :value => 'Submit', :class => 'small button'}
