.wrap
  %h1 Adding your work
  %h2= "Hi #{@user.login}, here's a list of every Github project you started."
  %p If you have a project you don't want to have listed, just skip it. Also, you can always come back later and edit your project's states.

  %form{:action => "/users/#{@user.id}", :method => 'post'}

    - @projects.each do |project|
      %fieldset
        %h2
          Is
          %a{:href => "https://github.com/#{project.user}/#{project.name}"}= project.name
          still being maintained?

        %label
          %input{:type => 'radio', :name => "projects[#{project.user}][#{project.name}]", :value => 'maintained', :id => "#{project.name}_maintained", :checked => project.state == 'maintained'}
          Yes.
        %br

        %label
          %input{:type => 'radio', :name => "projects[#{project.user}][#{project.name}]", :value => 'searching', :id => "#{project.name}_searching", :checked => project.state == 'searching'}
          No, I'm looking for a new maintainer.
        %br

        %label
          %input{:type => 'radio', :name => "projects[#{project.user}][#{project.name}]", :value => 'abandoned', :id => "#{project.name}_abandoned", :checked => project.state == 'abandoned'}
          No, the project is abandoned.
        %br

        %label
          %input{:type => 'radio', :name => "projects[#{project.user}][#{project.name}]", :value => 'hide', :id => "#{project.name}_hide", :checked => !project.visible }
          Don't list this project

    %input{:type => 'submit', :value => 'Submit', :class => 'small button'}
